<ul class="partner-logos" aria-label="Collaborating institutions">
<li class="partner-logo" title="Centro de inovação do cacau"><img src="../assets/colaboradores/Centro-de-inova%C3%A7%C3%A3o-do-cacau.svg" alt="Centro de inovação do cacau" loading="lazy"></li>
<li class="partner-logo" title="Ceplac"><img src="../assets/colaboradores/ceplac.png" alt="Ceplac" loading="lazy"></li>
<li class="partner-logo" title="Lab proteomica uesc"><img src="../assets/colaboradores/lab-proteomica-uesc.jpeg" alt="Lab proteomica uesc" loading="lazy"></li>
<li class="partner-logo" title="Lapagen"><img src="../assets/colaboradores/lapagen.png" alt="Lapagen" loading="lazy"></li>
</ul>
