<!-- gerado por scripts/build-publicacoes.py a partir de _data/publicacoes.json - nao editar a mao -->
<details class="pub-gaveta" open>
<summary class="pub-gaveta-cab"><span class="pub-gaveta-rotulo">2026</span><span class="pub-gaveta-conta">6 publications</span></summary>
<ul class="pub-list">
  <li>
    <span class="pub-title">Heterologous Systems in the Functional Characterization of Proteins from Phytopathogenic Fungi: A Systematic Review.</span>
    <strong>Oliveira HVV</strong>, O RD, <strong>Porto JAM</strong>, <strong>Aguiar ERGR</strong>, Novais DPS, Mora-Ocampo IY, <em>et al.</em>.
    <span class="pub-venue">Molecular Biotechnology</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1007/s12033-026-01592-z">doi:10.1007/s12033-026-01592-z</a>
  </li>
  <li>
    <span class="pub-title">Metaviromic insights into the viral community associated with Dendrobium catenatum.</span>
    Santos RMF, <strong>Ferreira LYM</strong>, <strong>Santos JPN</strong>, <strong>Conceição LBA</strong>, Oliveira GV, Berg C, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Brazilian Journal of Microbiology</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1007/s42770-025-01816-5">doi:10.1007/s42770-025-01816-5</a>
  </li>
  <li>
    <span class="pub-title">Primary infection with a Brazilian chikungunya virus isolate protects immunocompetent mice against detectable viremia following homologous rechallenge.</span>
    Silva NS, Fogaça MMC, Santos EJ, Silva BSS, Brito RDS, Carmo RLF, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Archives of Virology</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1007/s00705-026-06724-z">doi:10.1007/s00705-026-06724-z</a>
  </li>
  <li>
    <span class="pub-title">Tracing ancient viral footprints: a comprehensive study of endogenous viral elements in Bombus species.</span>
    <strong>Conceição LBA</strong>, <strong>Santos JPN</strong>, <strong>Ferreira LYM</strong>, <strong>Rodrigues GVP</strong>, Costa MA, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Mobile DNA</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1186/s13100-026-00393-0">doi:10.1186/s13100-026-00393-0</a>
  </li>
  <li>
    <span class="pub-title">Viral diversity in predatory insects used for biological control: Insights from a multi-country meta-viromic analysis.</span>
    Caldas-Garcia GB, Lopes ÍS, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Virology</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1016/j.virol.2026.111022">doi:10.1016/j.virol.2026.111022</a>
  </li>
  <li>
    <span class="pub-title">ViralQuest: a user-friendly interactive pipeline for viral-sequences analysis and curation.</span>
    <strong>Rodrigues GVP</strong>, <strong>Ferreira LYM</strong>, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">BMC Bioinformatics</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1186/s12859-026-06391-6">doi:10.1186/s12859-026-06391-6</a>
  </li>
</ul>
</details>

<details class="pub-gaveta">
<summary class="pub-gaveta-cab"><span class="pub-gaveta-rotulo">2025</span><span class="pub-gaveta-conta">10 publications</span></summary>
<ul class="pub-list">
  <li>
    <span class="pub-title">A Treatment-Resistant Severe Asthma Phenotype with Dysregulated Hippo Pathway as Shown by Sputum Transcriptomics and Proteomics.</span>
    Belitardo EMMA, Almeida P, Sena FA, Silva ES, Rocha DJPG, Mendonça J, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Allergies</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3390/allergies5040038">doi:10.3390/allergies5040038</a>
  </li>
  <li>
    <span class="pub-title">Association of toll-like receptors polymorphisms with atopy and asthma symptoms in Latin American children.</span>
    Belitardo EMMA, Marques CR, Silva TM, Silva ES, <strong>Aguiar ERGR</strong>, Barreto ML, <em>et al.</em>.
    <span class="pub-venue">Cytokine</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1016/j.cyto.2025.157073">doi:10.1016/j.cyto.2025.157073</a>
  </li>
  <li>
    <span class="pub-title">Candidate effector proteins revealed by transcriptional profiling during development of Moniliophthora roreri, a fungal pathogen of Theobroma cacao.</span>
    Nascimento KTS, Lopes ÍS, Santos AS, Mora-Ocampo IY, Santos TA, <strong>Oliveira HVV</strong>, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Genomics</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1016/j.ygeno.2025.111083">doi:10.1016/j.ygeno.2025.111083</a>
  </li>
  <li>
    <span class="pub-title">Expanding the evidence for cross-species viral transmission from trophic interactions of parasitoid wasps and their hosts.</span>
    Caldas-Garcia GB, Lopes ÍS, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Brazilian Journal of Microbiology</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1007/s42770-024-01596-4">doi:10.1007/s42770-024-01596-4</a>
  </li>
  <li>
    <span class="pub-title">Genetic polymorphisms in the E2 glycoprotein of chikungunya virus (2014-2023) and their potential implications for immunity and vaccine design.</span>
    Fogaça MMC, Souza MS, Brito RDS, <strong>Aguiar ERGR</strong>, Luiz WB, Vidal PO, <em>et al.</em>.
    <span class="pub-venue">International Journal of Infectious Diseases</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1016/j.ijid.2025.108193">doi:10.1016/j.ijid.2025.108193</a>
  </li>
  <li>
    <span class="pub-title">Insights into miRNAs of the Stingless Bee Melipona quadrifasciata.</span>
    Soares DO, <strong>Ferreira LYM</strong>, <strong>Rodrigues GVP</strong>, <strong>Santos JPN</strong>, Lopes ÍS, <strong>Conceição LBA</strong>, <em>et al.</em> (incl. <strong>Moura TC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Non-Coding RNA</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3390/ncrna11030048">doi:10.3390/ncrna11030048</a>
  </li>
  <li>
    <span class="pub-title">Integrative multi-omics approach identified emerging viral threat in Theobroma cacao plants.</span>
    <strong>Fonseca PLC</strong>, Santos MS, Silva JD, Armache JN, <strong>Carvalho CH Neto</strong>, Nascimento RS, <em>et al.</em> (incl. <strong>Santos JPN</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">BMC Plant Biology</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1186/s12870-025-07472-z">doi:10.1186/s12870-025-07472-z</a>
  </li>
  <li>
    <span class="pub-title">New Isolates of Betachloroviruses Shed Light on the Diversity and Biological Complexity of an Unexplored Group of Giant Algal Viruses.</span>
    Souza JLF, Henriques LR, Carlson RM, Botelho BB, Carvalho JVRP, <strong>Santos JPN</strong>, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3390/v17081096">doi:10.3390/v17081096</a>
  </li>
  <li>
    <span class="pub-title">Potential effect of Wolbachia on virus restriction in the spider mite T. truncatus.</span>
    <strong>Ferreira LYM</strong>, <strong>Santos JPN</strong>, <strong>Souza DGN</strong>, <strong>Bernardez-Orellana LC</strong>, <strong>Santana SF</strong>, Sousa AG, <em>et al.</em> (incl. <strong>Fonseca PLC</strong>, <strong>Silva AGS</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Frontiers in Microbiology</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3389/fmicb.2025.1570606">doi:10.3389/fmicb.2025.1570606</a>
  </li>
  <li>
    <span class="pub-title">Theobroma cacao Virome: Exploring Public RNA-Seq Data for Viral Discovery and Surveillance.</span>
    <strong>Rodrigues GVP</strong>, <strong>Santos JPN</strong>, <strong>Ferreira LYM</strong>, <strong>Conceição LBA</strong>, <strong>Porto JAM</strong>, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Viruses</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3390/v17050624">doi:10.3390/v17050624</a>
  </li>
</ul>
</details>

<details class="pub-gaveta">
<summary class="pub-gaveta-cab"><span class="pub-gaveta-rotulo">2024</span><span class="pub-gaveta-conta">10 publications</span></summary>
<ul class="pub-list">
  <li>
    <span class="pub-title">Characterization of the Virome Associated with the Ubiquitous Two-Spotted Spider Mite, Tetranychus urticae.</span>
    <strong>Ferreira LYM</strong>, Sousa AG, <strong>Silva JL</strong>, <strong>Santos JPN</strong>, <strong>Souza DGN</strong>, <strong>Bernardez-Orellana LC</strong>, <em>et al.</em> (incl. <strong>Santana SF</strong>, <strong>Vasconcelos LBCM</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.3390/v16101532">doi:10.3390/v16101532</a>
  </li>
  <li>
    <span class="pub-title">Circulation of bee-infecting viruses in Brazil: a call for action.</span>
    <strong>Conceição LBA</strong>, <strong>Santos JPN</strong>, Costa MA, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Brazilian Journal of Microbiology</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1007/s42770-024-01425-8">doi:10.1007/s42770-024-01425-8</a>
  </li>
  <li>
    <span class="pub-title">Influence of SARS-CoV-2 variants on COVID-19 epidemiological and clinical profiles: a comparative analysis of two waves of cases.</span>
    Santos PR, Santos UR, Silva I, Fehlberg HF, Ferreira FB, Albuquerque GR, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Virology Journal</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1186/s12985-024-02538-0">doi:10.1186/s12985-024-02538-0</a>
  </li>
  <li>
    <span class="pub-title">Neofunctionalization driven by positive selection led to the retention of the loqs2 gene encoding an Aedes specific dsRNA binding protein.</span>
    Estevez-Castro CF, Rodrigues MF, Babarit A, Ferreira FV, Andrade EG, Marois É, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">BMC Biology</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1186/s12915-024-01821-4">doi:10.1186/s12915-024-01821-4</a>
  </li>
  <li>
    <span class="pub-title">Phylodynamics of avian influenza A(H5N1) viruses from outbreaks in Brazil.</span>
    Rivetti AV Júnior, Reischak D, Oliveira CHS, Otaka JNP, Domingues CS, Freitas TL, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Virus Research</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1016/j.virusres.2024.199415">doi:10.1016/j.virusres.2024.199415</a>
  </li>
  <li>
    <span class="pub-title">Rhabdoviral Endogenous Sequences Identified in the Leishmaniasis Vector Lutzomyia longipalpis Are Widespread in Sandflies from South America.</span>
    Tempone A, Zezza-Ramalho MS, Borely D, Pitaluga AN, Brazil RP, Brandão-Filho SP, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.3390/v16030395">doi:10.3390/v16030395</a>
  </li>
  <li>
    <span class="pub-title">Structural Insights on Cross-Reactivity of Mite Allergens with Helminth Proteins.</span>
    Lisboa ABP, Alcântara‐Neves NM, <strong>Aguiar ERGR</strong>, Pinheiro CS, Pacheco LGC, Silva ES.
    <span class="pub-venue">Allergies</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.3390/allergies4020006">doi:10.3390/allergies4020006</a>
  </li>
  <li>
    <span class="pub-title">Suboptimal bioinformatic predictions of antimicrobial resistance from whole-genome sequences in multidrug-resistant Corynebacterium isolates.</span>
    Rocha DJPG, Silva CS, Jesus HNR, Sacoda FG, Cruz JVO, Pinheiro CS, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Journal of Global Antimicrobial Resistance</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1016/j.jgar.2024.06.006">doi:10.1016/j.jgar.2024.06.006</a>
  </li>
  <li>
    <span class="pub-title">The Virome of Cocoa Fermentation-Associated Microorganisms.</span>
    <strong>Santos JPN</strong>, <strong>Rodrigues GVP</strong>, <strong>Ferreira LYM</strong>, Monteiro GP, <strong>Fonseca PLC</strong>, Lopes ÍS, <em>et al.</em> (incl. <strong>Silva AB</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.3390/v16081226">doi:10.3390/v16081226</a>
  </li>
  <li>
    <span class="pub-title">Two +ssRNA mycoviruses cohabiting the fungal cultivar of leafcutter ants.</span>
    Rødsgaard-Jørgensen A, Leal-Dutra CA, <strong>Santana SF</strong>, Jensen AR, Marques RE, <strong>Aguiar ERGR</strong>, <em>et al.</em>.
    <span class="pub-venue">Virology Journal</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1186/s12985-024-02465-0">doi:10.1186/s12985-024-02465-0</a>
  </li>
</ul>
</details>

<details class="pub-gaveta">
<summary class="pub-gaveta-cab"><span class="pub-gaveta-rotulo">2023</span><span class="pub-gaveta-conta">17 publications</span></summary>
<ul class="pub-list">
  <li>
    <span class="pub-title">A repertoire of candidate effector proteins of the fungus Ceratocystis cacaofunesta.</span>
    Ramos-Lizardo GN, Muñoz JJM, <strong>Aguiar ERGR</strong>, Pirovani CP, Corrêa RX.
    <span class="pub-venue">Scientific Reports</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1038/s41598-023-43117-7">doi:10.1038/s41598-023-43117-7</a>
  </li>
  <li>
    <span class="pub-title">BASIDIN as a New Protein Effector of the Phytopathogen Causing Witche’s Broom Disease in Cocoa.</span>
    Farias KS, Ferreira MM, Amaral GV, Zugaib M, Santos AS, Gomes FP, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">International Journal of Molecular Sciences</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/ijms241411714">doi:10.3390/ijms241411714</a>
  </li>
  <li>
    <span class="pub-title">Characterization of the microbiota dynamics associated with Moniliophthora roreri, causal agent of cocoa frosty pod rot disease, reveals new viral species.</span>
    Reyes BMD, <strong>Fonseca PLC</strong>, Heming NM, <strong>Conceição LB</strong>, Nascimento KTS, Gramacho KP, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Frontiers in Microbiology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3389/fmicb.2022.1053562">doi:10.3389/fmicb.2022.1053562</a>
  </li>
  <li>
    <span class="pub-title">Comparative proteome profile of ungerminated spores and mycelium of the fungus Moniliophthora roreri , causal agent of frosty pod rot disease in cacao.</span>
    Zugaib M, Gramacho KP, Mares J, Camillo L, Mora-Ocampo IY, Arévalo‐Gardini E, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Journal of Phytopathology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1111/jph.13177">doi:10.1111/jph.13177</a>
  </li>
  <li>
    <span class="pub-title">Corynebacterium guaraldiae sp. nov.: a new species of Corynebacterium from human infections.</span>
    Sant’Anna LO, Santos LS, Araújo MRB, Rocha DJPG, Ramos JN, Baio PVP, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Brazilian Journal of Microbiology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1007/s42770-023-00938-y">doi:10.1007/s42770-023-00938-y</a>
  </li>
  <li>
    <span class="pub-title">Editorial: Using virus specific-signatures during infection to characterize host-pathogen interactions.</span>
    <strong>Fonseca PLC</strong>, Gaur RK, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Frontiers in Genetics</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3389/fgene.2023.1290714">doi:10.3389/fgene.2023.1290714</a>
  </li>
  <li>
    <span class="pub-title">Exploring the Mycovirus Universe: Identification, Diversity, and Biotechnological Applications.</span>
    Larios DCV, Reyes BMD, Pirovani CP, Loguercio LL, Santos VC, Goés‐Neto A, <em>et al.</em> (incl. <strong>Fonseca PLC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Journal of Fungi</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/jof9030361">doi:10.3390/jof9030361</a>
  </li>
  <li>
    <span class="pub-title">Genomic analysis of two phlebotomine sand fly vectors of Leishmania from the New and Old World.</span>
    Labbé F, Abdeladhim M, Abrudan J, Araki AS, Araújo RN, Arensburger P, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">PLoS neglected tropical diseases</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1371/journal.pntd.0010862">doi:10.1371/journal.pntd.0010862</a>
  </li>
  <li>
    <span class="pub-title">Genomic insights into the c-di-GMP signaling and biofilm development in the saprophytic spirochete Leptospira biflexa.</span>
    Vasconcelos LAT, Aburjaile FF, Andrade L, Cancio AF, Seyffert N, <strong>Aguiar ERGR</strong>, <em>et al.</em>.
    <span class="pub-venue">Archives of Microbiology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1007/s00203-023-03519-7">doi:10.1007/s00203-023-03519-7</a>
  </li>
  <li>
    <span class="pub-title">Gut microbiota from patients with COVID-19 cause alterations in mice that resemble post-COVID symptoms.</span>
    Almeida VM, Engel DF, Ricci MF, Cruz CS, Lopes ÍS, Alves DA, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Gut Microbes</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1080/19490976.2023.2249146">doi:10.1080/19490976.2023.2249146</a>
  </li>
  <li>
    <span class="pub-title">Mining Public Data to Investigate the Virome of Neglected Pollinators and Other Floral Visitors.</span>
    <strong>Santana SF</strong>, Santos VC, Lopes ÍS, <strong>Porto JAM</strong>, Mora-Ocampo IY, Sodré GA, <em>et al.</em> (incl. <strong>Fonseca PLC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/v15091850">doi:10.3390/v15091850</a>
  </li>
  <li>
    <span class="pub-title">Mosquito vector competence for dengue is modulated by insect-specific viruses.</span>
    Olmo RP, Todjro YMH, <strong>Aguiar ERGR</strong>, Almeida JPP, Ferreira FV, Armache JN, <em>et al.</em>.
    <span class="pub-venue">Nature Microbiology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1038/s41564-022-01289-4">doi:10.1038/s41564-022-01289-4</a>
  </li>
  <li>
    <span class="pub-title">State of the Art of the Molecular Biology of the Interaction between Cocoa and Witches’ Broom Disease: A Systematic Review.</span>
    Santos AS, Mora-Ocampo IY, Novais DPS, <strong>Aguiar ERGR</strong>, Pirovani CP.
    <span class="pub-venue">International Journal of Molecular Sciences</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/ijms24065684">doi:10.3390/ijms24065684</a>
  </li>
  <li>
    <span class="pub-title">The pan-genome of the emerging multidrug-resistant pathogen Corynebacterium striatum.</span>
    Jesus HNR, Ramos JN, Rocha DJPG, Alves DA, Silva CS, Cruz JVO, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Functional &amp; Integrative Genomics</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1007/s10142-022-00932-x">doi:10.1007/s10142-022-00932-x</a>
  </li>
  <li>
    <span class="pub-title">The virome of the invasive Asian bush mosquito Aedes japonicus in Europe.</span>
    Abbo SR, Almeida JPP, Olmo RP, Balvers C, Griep JS, Linthout C, <em>et al.</em> (incl. <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Virus Evolution</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1093/ve/vead041">doi:10.1093/ve/vead041</a>
  </li>
  <li>
    <span class="pub-title">The Viromes of Six Ecosystem Service Provider Parasitoid Wasps.</span>
    Caldas-Garcia GB, Santos VC, <strong>Fonseca PLC</strong>, Almeida JPP, Costa MA, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Viruses</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/v15122448">doi:10.3390/v15122448</a>
  </li>
  <li>
    <span class="pub-title">Uncovering a Complex Virome Associated with the Cacao Pathogens Ceratocystis cacaofunesta and Ceratocystis fimbriata.</span>
    Espinal RBA, <strong>Santana SF</strong>, Santos VC, Lizardo GNR, Silva RJS, Corrêa RX, <em>et al.</em> (incl. <strong>Fonseca PLC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Pathogens</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/pathogens12020287">doi:10.3390/pathogens12020287</a>
  </li>
</ul>
</details>

<details class="pub-gaveta">
<summary class="pub-gaveta-cab"><span class="pub-gaveta-rotulo">Preprints</span><span class="pub-gaveta-conta">5 publications</span></summary>
<ul class="pub-list">
  <li>
    <span class="pub-title">Antimicrobial resistance prevalence in clinical and aquatic environmental ESKAPE: a systematic review with meta-analysis.</span>
    Vaz ABM, Murad B, Lopes BC, Castro MLP, Fernandes GR, Oliveira WK, <em>et al.</em> (incl. <strong>Fonseca PLC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">medRxiv</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.64898/2026.02.25.26346099">doi:10.64898/2026.02.25.26346099</a>
  </li>
  <li>
    <span class="pub-title">Complete genome of Microvirga arabica strain BRUESC1165, a non-rhizobial bacterium isolated from root nodules of the Amazonian legume Clathrotropis nitida.</span>
    Jambeiro ICA, Lopes ÍS, <strong>Aguiar ERGR</strong>, Santos JMF, Santos AFJ, Gross E.
    <span class="pub-venue">SSRN</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.2139/ssrn.6304347">doi:10.2139/ssrn.6304347</a>
  </li>
  <li>
    <span class="pub-title">Dengue spatiotemporal patterns in Minas Gerais, Brazil, 2014 – 2023: regional epidemic forces dominate over the environmental impact of the Brumadinho dam collapse.</span>
    Fernandes GR, Vaz ABM, <strong>Fonseca PLC</strong>, Oliveira WK, <strong>Aguiar ERGR</strong>, Lopes BC, <em>et al.</em>.
    <span class="pub-venue">medRxiv</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.64898/2026.05.19.26353615">doi:10.64898/2026.05.19.26353615</a>
  </li>
  <li>
    <span class="pub-title">Functional study of MAGs from Hanseniaspora spp. obtained from the spontaneous fermentation of cocoa seeds in the region of Ilhéus/Ba..</span>
    Souza C, Castro GM, Lopes ÍS, <strong>Aguiar ERGR</strong>, Goés‐Neto A, Uetanabaro APT.
    <span class="pub-venue">Authorea</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.22541/au.174113476.64158351/v1">doi:10.22541/au.174113476.64158351/v1</a>
  </li>
  <li>
    <span class="pub-title">The Initial Detection of a Diversity of Viruses Associated with Ladybirds and Other Biocontrol Agents Prompts Interesting Ecological Insights.</span>
    Caldas-Garcia GB, Lopes ÍS, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">bioRxiv</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1101/2025.10.06.680744">doi:10.1101/2025.10.06.680744</a>
  </li>
</ul>
</details>

# Collaborations {#collaborations}

::: {.lead}
The 48 publications above bring together <strong>347 researchers from outside the laboratory</strong>, at institutions in Brazil and abroad.
:::
