<!-- gerado por scripts/build-publicacoes.py a partir de _data/publicacoes.json - nao editar a mao -->
::: {.pub-year}
2026
:::

<ul class="pub-list">
  <li>
    <span class="pub-title">Heterologous Systems in the Functional Characterization of Proteins from Phytopathogenic Fungi: A Systematic Review.</span>
    <strong>Oliveira HVV</strong>, O RD, <strong>Porto JAM</strong>, <strong>Aguiar ERGR</strong>, Novais DPS, Mora-Ocampo IY, <em>et al.</em>.
    <span class="pub-venue">Molecular Biotechnology</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1007/s12033-026-01592-z">doi:10.1007/s12033-026-01592-z</a>
  </li>
  <li>
    <span class="pub-title">Metaviromic insights into the viral community associated with Dendrobium catenatum.</span>
    Santos RMF, <strong>Ferreira LYM</strong>, <strong>Santos JPN</strong>, <strong>Conceição LBA</strong>, Oliveira GV, Berg C, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Brazilian Journal of Microbiology</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1007/s42770-025-01816-5">doi:10.1007/s42770-025-01816-5</a>
  </li>
  <li>
    <span class="pub-title">Primary infection with a Brazilian chikungunya virus isolate protects immunocompetent mice against detectable viremia following homologous rechallenge.</span>
    Silva NS, Fogaça MMC, Santos EJ, Silva BSS, Brito RDS, Carmo RLF, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Archives of Virology</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1007/s00705-026-06724-z">doi:10.1007/s00705-026-06724-z</a>
  </li>
  <li>
    <span class="pub-title">Tracing ancient viral footprints: a comprehensive study of endogenous viral elements in Bombus species.</span>
    <strong>Conceição LBA</strong>, <strong>Santos JPN</strong>, <strong>Ferreira LYM</strong>, <strong>Rodrigues GVP</strong>, Costa MA, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Mobile DNA</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1186/s13100-026-00393-0">doi:10.1186/s13100-026-00393-0</a>
  </li>
  <li>
    <span class="pub-title">Viral diversity in predatory insects used for biological control: Insights from a multi-country meta-viromic analysis.</span>
    Caldas-Garcia GB, Lopes ÍS, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Virology</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1016/j.virol.2026.111022">doi:10.1016/j.virol.2026.111022</a>
  </li>
  <li>
    <span class="pub-title">ViralQuest: a user-friendly interactive pipeline for viral-sequences analysis and curation.</span>
    <strong>Rodrigues GVP</strong>, <strong>Ferreira LYM</strong>, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">BMC Bioinformatics</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.1186/s12859-026-06391-6">doi:10.1186/s12859-026-06391-6</a>
  </li>
</ul>

::: {.pub-year}
2025
:::

<ul class="pub-list">
  <li>
    <span class="pub-title">A Treatment-Resistant Severe Asthma Phenotype with Dysregulated Hippo Pathway as Shown by Sputum Transcriptomics and Proteomics.</span>
    Belitardo EMMA, Almeida P, Sena FA, Silva ES, Rocha DJPG, Mendonça J, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Allergies</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3390/allergies5040038">doi:10.3390/allergies5040038</a>
  </li>
  <li>
    <span class="pub-title">Association of toll-like receptors polymorphisms with atopy and asthma symptoms in Latin American children.</span>
    Belitardo EMMA, Marques CR, Silva TM, Silva ES, <strong>Aguiar ERGR</strong>, Barreto ML, <em>et al.</em>.
    <span class="pub-venue">Cytokine</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1016/j.cyto.2025.157073">doi:10.1016/j.cyto.2025.157073</a>
  </li>
  <li>
    <span class="pub-title">Candidate effector proteins revealed by transcriptional profiling during development of Moniliophthora roreri, a fungal pathogen of Theobroma cacao.</span>
    Nascimento KTS, Lopes ÍS, Santos AS, Mora-Ocampo IY, Santos TA, <strong>Oliveira HVV</strong>, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Genomics</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1016/j.ygeno.2025.111083">doi:10.1016/j.ygeno.2025.111083</a>
  </li>
  <li>
    <span class="pub-title">Expanding the evidence for cross-species viral transmission from trophic interactions of parasitoid wasps and their hosts.</span>
    Caldas-Garcia GB, Lopes ÍS, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Brazilian Journal of Microbiology</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1007/s42770-024-01596-4">doi:10.1007/s42770-024-01596-4</a>
  </li>
  <li>
    <span class="pub-title">Genetic polymorphisms in the E2 glycoprotein of chikungunya virus (2014-2023) and their potential implications for immunity and vaccine design.</span>
    Fogaça MMC, Souza MS, Brito RDS, <strong>Aguiar ERGR</strong>, Luiz WB, Vidal PO, <em>et al.</em>.
    <span class="pub-venue">International Journal of Infectious Diseases</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1016/j.ijid.2025.108193">doi:10.1016/j.ijid.2025.108193</a>
  </li>
  <li>
    <span class="pub-title">Insights into miRNAs of the Stingless Bee Melipona quadrifasciata.</span>
    Soares DO, <strong>Ferreira LYM</strong>, <strong>Rodrigues GVP</strong>, <strong>Santos JPN</strong>, Lopes ÍS, <strong>Conceição LBA</strong>, <em>et al.</em> (inclui <strong>Moura TC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Non-Coding RNA</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3390/ncrna11030048">doi:10.3390/ncrna11030048</a>
  </li>
  <li>
    <span class="pub-title">Integrative multi-omics approach identified emerging viral threat in Theobroma cacao plants.</span>
    <strong>Fonseca PLC</strong>, Santos MS, Silva JD, Armache JN, <strong>Carvalho CH Neto</strong>, Nascimento RS, <em>et al.</em> (inclui <strong>Santos JPN</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">BMC Plant Biology</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1186/s12870-025-07472-z">doi:10.1186/s12870-025-07472-z</a>
  </li>
  <li>
    <span class="pub-title">New Isolates of Betachloroviruses Shed Light on the Diversity and Biological Complexity of an Unexplored Group of Giant Algal Viruses.</span>
    Souza JLF, Henriques LR, Carlson RM, Botelho BB, Carvalho JVRP, <strong>Santos JPN</strong>, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3390/v17081096">doi:10.3390/v17081096</a>
  </li>
  <li>
    <span class="pub-title">Potential effect of Wolbachia on virus restriction in the spider mite T. truncatus.</span>
    <strong>Ferreira LYM</strong>, <strong>Santos JPN</strong>, <strong>Souza DGN</strong>, <strong>Bernardez-Orellana LC</strong>, <strong>Santana SF</strong>, Sousa AG, <em>et al.</em> (inclui <strong>Fonseca PLC</strong>, <strong>Silva AGS</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Frontiers in Microbiology</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3389/fmicb.2025.1570606">doi:10.3389/fmicb.2025.1570606</a>
  </li>
  <li>
    <span class="pub-title">Theobroma cacao Virome: Exploring Public RNA-Seq Data for Viral Discovery and Surveillance.</span>
    <strong>Rodrigues GVP</strong>, <strong>Santos JPN</strong>, <strong>Ferreira LYM</strong>, <strong>Conceição LBA</strong>, <strong>Porto JAM</strong>, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Viruses</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.3390/v17050624">doi:10.3390/v17050624</a>
  </li>
</ul>

::: {.pub-year}
2024
:::

<ul class="pub-list">
  <li>
    <span class="pub-title">Characterization of the Virome Associated with the Ubiquitous Two-Spotted Spider Mite, Tetranychus urticae.</span>
    <strong>Ferreira LYM</strong>, Sousa AG, <strong>Silva JL</strong>, <strong>Santos JPN</strong>, <strong>Souza DGN</strong>, <strong>Bernardez-Orellana LC</strong>, <em>et al.</em> (inclui <strong>Santana SF</strong>, <strong>Vasconcelos LBCM</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.3390/v16101532">doi:10.3390/v16101532</a>
  </li>
  <li>
    <span class="pub-title">Circulation of bee-infecting viruses in Brazil: a call for action.</span>
    <strong>Conceição LBA</strong>, <strong>Santos JPN</strong>, Costa MA, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Brazilian Journal of Microbiology</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1007/s42770-024-01425-8">doi:10.1007/s42770-024-01425-8</a>
  </li>
  <li>
    <span class="pub-title">Influence of SARS-CoV-2 variants on COVID-19 epidemiological and clinical profiles: a comparative analysis of two waves of cases.</span>
    Santos PR, Santos UR, Silva I, Fehlberg HF, Ferreira FB, Albuquerque GR, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Virology Journal</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1186/s12985-024-02538-0">doi:10.1186/s12985-024-02538-0</a>
  </li>
  <li>
    <span class="pub-title">Neofunctionalization driven by positive selection led to the retention of the loqs2 gene encoding an Aedes specific dsRNA binding protein.</span>
    Estevez-Castro CF, Rodrigues MF, Babarit A, Ferreira FV, Andrade EG, Marois É, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">BMC Biology</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1186/s12915-024-01821-4">doi:10.1186/s12915-024-01821-4</a>
  </li>
  <li>
    <span class="pub-title">Phylodynamics of avian influenza A(H5N1) viruses from outbreaks in Brazil.</span>
    Rivetti AV Júnior, Reischak D, Oliveira CHS, Otaka JNP, Domingues CS, Freitas TL, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Virus Research</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1016/j.virusres.2024.199415">doi:10.1016/j.virusres.2024.199415</a>
  </li>
  <li>
    <span class="pub-title">Rhabdoviral Endogenous Sequences Identified in the Leishmaniasis Vector Lutzomyia longipalpis Are Widespread in Sandflies from South America.</span>
    Tempone A, Zezza-Ramalho MS, Borely D, Pitaluga AN, Brazil RP, Brandão-Filho SP, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.3390/v16030395">doi:10.3390/v16030395</a>
  </li>
  <li>
    <span class="pub-title">Structural Insights on Cross-Reactivity of Mite Allergens with Helminth Proteins.</span>
    Lisboa ABP, Alcântara‐Neves NM, <strong>Aguiar ERGR</strong>, Pinheiro CS, Pacheco LGC, Silva ES.
    <span class="pub-venue">Allergies</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.3390/allergies4020006">doi:10.3390/allergies4020006</a>
  </li>
  <li>
    <span class="pub-title">Suboptimal bioinformatic predictions of antimicrobial resistance from whole-genome sequences in multidrug-resistant Corynebacterium isolates.</span>
    Rocha DJPG, Silva CS, Jesus HNR, Sacoda FG, Cruz JVO, Pinheiro CS, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Journal of Global Antimicrobial Resistance</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1016/j.jgar.2024.06.006">doi:10.1016/j.jgar.2024.06.006</a>
  </li>
  <li>
    <span class="pub-title">The Virome of Cocoa Fermentation-Associated Microorganisms.</span>
    <strong>Santos JPN</strong>, <strong>Rodrigues GVP</strong>, <strong>Ferreira LYM</strong>, Monteiro GP, <strong>Fonseca PLC</strong>, Lopes ÍS, <em>et al.</em> (inclui <strong>Silva AB</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.3390/v16081226">doi:10.3390/v16081226</a>
  </li>
  <li>
    <span class="pub-title">Two +ssRNA mycoviruses cohabiting the fungal cultivar of leafcutter ants.</span>
    Rødsgaard-Jørgensen A, Leal-Dutra CA, <strong>Santana SF</strong>, Jensen AR, Marques RE, <strong>Aguiar ERGR</strong>, <em>et al.</em>.
    <span class="pub-venue">Virology Journal</span>, 2024.
    <a class="pub-doi" href="https://doi.org/10.1186/s12985-024-02465-0">doi:10.1186/s12985-024-02465-0</a>
  </li>
</ul>

::: {.pub-year}
2023
:::

<ul class="pub-list">
  <li>
    <span class="pub-title">A repertoire of candidate effector proteins of the fungus Ceratocystis cacaofunesta.</span>
    Ramos-Lizardo GN, Muñoz JJM, <strong>Aguiar ERGR</strong>, Pirovani CP, Corrêa RX.
    <span class="pub-venue">Scientific Reports</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1038/s41598-023-43117-7">doi:10.1038/s41598-023-43117-7</a>
  </li>
  <li>
    <span class="pub-title">BASIDIN as a New Protein Effector of the Phytopathogen Causing Witche’s Broom Disease in Cocoa.</span>
    Farias KS, Ferreira MM, Amaral GV, Zugaib M, Santos AS, Gomes FP, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">International Journal of Molecular Sciences</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/ijms241411714">doi:10.3390/ijms241411714</a>
  </li>
  <li>
    <span class="pub-title">Characterization of the microbiota dynamics associated with Moniliophthora roreri, causal agent of cocoa frosty pod rot disease, reveals new viral species.</span>
    Reyes BMD, <strong>Fonseca PLC</strong>, Heming NM, <strong>Conceição LB</strong>, Nascimento KTS, Gramacho KP, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Frontiers in Microbiology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3389/fmicb.2022.1053562">doi:10.3389/fmicb.2022.1053562</a>
  </li>
  <li>
    <span class="pub-title">Comparative proteome profile of ungerminated spores and mycelium of the fungus Moniliophthora roreri , causal agent of frosty pod rot disease in cacao.</span>
    Zugaib M, Gramacho KP, Mares J, Camillo L, Mora-Ocampo IY, Arévalo‐Gardini E, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Journal of Phytopathology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1111/jph.13177">doi:10.1111/jph.13177</a>
  </li>
  <li>
    <span class="pub-title">Corynebacterium guaraldiae sp. nov.: a new species of Corynebacterium from human infections.</span>
    Sant’Anna LO, Santos LS, Araújo MRB, Rocha DJPG, Ramos JN, Baio PVP, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Brazilian Journal of Microbiology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1007/s42770-023-00938-y">doi:10.1007/s42770-023-00938-y</a>
  </li>
  <li>
    <span class="pub-title">Editorial: Using virus specific-signatures during infection to characterize host-pathogen interactions.</span>
    <strong>Fonseca PLC</strong>, Gaur RK, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Frontiers in Genetics</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3389/fgene.2023.1290714">doi:10.3389/fgene.2023.1290714</a>
  </li>
  <li>
    <span class="pub-title">Exploring the Mycovirus Universe: Identification, Diversity, and Biotechnological Applications.</span>
    Larios DCV, Reyes BMD, Pirovani CP, Loguercio LL, Santos VC, Goés‐Neto A, <em>et al.</em> (inclui <strong>Fonseca PLC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Journal of Fungi</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/jof9030361">doi:10.3390/jof9030361</a>
  </li>
  <li>
    <span class="pub-title">Genomic analysis of two phlebotomine sand fly vectors of Leishmania from the New and Old World.</span>
    Labbé F, Abdeladhim M, Abrudan J, Araki AS, Araújo RN, Arensburger P, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">PLoS neglected tropical diseases</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1371/journal.pntd.0010862">doi:10.1371/journal.pntd.0010862</a>
  </li>
  <li>
    <span class="pub-title">Genomic insights into the c-di-GMP signaling and biofilm development in the saprophytic spirochete Leptospira biflexa.</span>
    Vasconcelos LAT, Aburjaile FF, Andrade L, Cancio AF, Seyffert N, <strong>Aguiar ERGR</strong>, <em>et al.</em>.
    <span class="pub-venue">Archives of Microbiology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1007/s00203-023-03519-7">doi:10.1007/s00203-023-03519-7</a>
  </li>
  <li>
    <span class="pub-title">Gut microbiota from patients with COVID-19 cause alterations in mice that resemble post-COVID symptoms.</span>
    Almeida VM, Engel DF, Ricci MF, Cruz CS, Lopes ÍS, Alves DA, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Gut Microbes</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1080/19490976.2023.2249146">doi:10.1080/19490976.2023.2249146</a>
  </li>
  <li>
    <span class="pub-title">Mining Public Data to Investigate the Virome of Neglected Pollinators and Other Floral Visitors.</span>
    <strong>Santana SF</strong>, Santos VC, Lopes ÍS, <strong>Porto JAM</strong>, Mora-Ocampo IY, Sodré GA, <em>et al.</em> (inclui <strong>Fonseca PLC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Viruses</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/v15091850">doi:10.3390/v15091850</a>
  </li>
  <li>
    <span class="pub-title">Mosquito vector competence for dengue is modulated by insect-specific viruses.</span>
    Olmo RP, Todjro YMH, <strong>Aguiar ERGR</strong>, Almeida JPP, Ferreira FV, Armache JN, <em>et al.</em>.
    <span class="pub-venue">Nature Microbiology</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1038/s41564-022-01289-4">doi:10.1038/s41564-022-01289-4</a>
  </li>
  <li>
    <span class="pub-title">State of the Art of the Molecular Biology of the Interaction between Cocoa and Witches’ Broom Disease: A Systematic Review.</span>
    Santos AS, Mora-Ocampo IY, Novais DPS, <strong>Aguiar ERGR</strong>, Pirovani CP.
    <span class="pub-venue">International Journal of Molecular Sciences</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/ijms24065684">doi:10.3390/ijms24065684</a>
  </li>
  <li>
    <span class="pub-title">The pan-genome of the emerging multidrug-resistant pathogen Corynebacterium striatum.</span>
    Jesus HNR, Ramos JN, Rocha DJPG, Alves DA, Silva CS, Cruz JVO, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Functional &amp; Integrative Genomics</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1007/s10142-022-00932-x">doi:10.1007/s10142-022-00932-x</a>
  </li>
  <li>
    <span class="pub-title">The virome of the invasive Asian bush mosquito Aedes japonicus in Europe.</span>
    Abbo SR, Almeida JPP, Olmo RP, Balvers C, Griep JS, Linthout C, <em>et al.</em> (inclui <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Virus Evolution</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.1093/ve/vead041">doi:10.1093/ve/vead041</a>
  </li>
  <li>
    <span class="pub-title">The Viromes of Six Ecosystem Service Provider Parasitoid Wasps.</span>
    Caldas-Garcia GB, Santos VC, <strong>Fonseca PLC</strong>, Almeida JPP, Costa MA, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">Viruses</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/v15122448">doi:10.3390/v15122448</a>
  </li>
  <li>
    <span class="pub-title">Uncovering a Complex Virome Associated with the Cacao Pathogens Ceratocystis cacaofunesta and Ceratocystis fimbriata.</span>
    Espinal RBA, <strong>Santana SF</strong>, Santos VC, Lizardo GNR, Silva RJS, Corrêa RX, <em>et al.</em> (inclui <strong>Fonseca PLC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">Pathogens</span>, 2023.
    <a class="pub-doi" href="https://doi.org/10.3390/pathogens12020287">doi:10.3390/pathogens12020287</a>
  </li>
</ul>

## Pré-prints

<ul class="pub-list">
  <li>
    <span class="pub-title">Antimicrobial resistance prevalence in clinical and aquatic environmental ESKAPE: a systematic review with meta-analysis.</span>
    Vaz ABM, Murad B, Lopes BC, Castro MLP, Fernandes GR, Oliveira WK, <em>et al.</em> (inclui <strong>Fonseca PLC</strong>, <strong>Aguiar ERGR</strong>).
    <span class="pub-venue">medRxiv</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.64898/2026.02.25.26346099">doi:10.64898/2026.02.25.26346099</a>
  </li>
  <li>
    <span class="pub-title">Complete genome of Microvirga arabica strain BRUESC1165, a non-rhizobial bacterium isolated from root nodules of the Amazonian legume Clathrotropis nitida.</span>
    Jambeiro ICA, Lopes ÍS, <strong>Aguiar ERGR</strong>, Santos JMF, Santos AFJ, Gross E.
    <span class="pub-venue">SSRN</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.2139/ssrn.6304347">doi:10.2139/ssrn.6304347</a>
  </li>
  <li>
    <span class="pub-title">Dengue spatiotemporal patterns in Minas Gerais, Brazil, 2014 – 2023: regional epidemic forces dominate over the environmental impact of the Brumadinho dam collapse.</span>
    Fernandes GR, Vaz ABM, <strong>Fonseca PLC</strong>, Oliveira WK, <strong>Aguiar ERGR</strong>, Lopes BC, <em>et al.</em>.
    <span class="pub-venue">medRxiv</span>, 2026.
    <a class="pub-doi" href="https://doi.org/10.64898/2026.05.19.26353615">doi:10.64898/2026.05.19.26353615</a>
  </li>
  <li>
    <span class="pub-title">Functional study of MAGs from Hanseniaspora spp. obtained from the spontaneous fermentation of cocoa seeds in the region of Ilhéus/Ba..</span>
    Souza C, Castro GM, Lopes ÍS, <strong>Aguiar ERGR</strong>, Goés‐Neto A, Uetanabaro APT.
    <span class="pub-venue">Authorea</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.22541/au.174113476.64158351/v1">doi:10.22541/au.174113476.64158351/v1</a>
  </li>
  <li>
    <span class="pub-title">The Initial Detection of a Diversity of Viruses Associated with Ladybirds and Other Biocontrol Agents Prompts Interesting Ecological Insights.</span>
    Caldas-Garcia GB, Lopes ÍS, <strong>Aguiar ERGR</strong>.
    <span class="pub-venue">bioRxiv</span>, 2025.
    <a class="pub-doi" href="https://doi.org/10.1101/2025.10.06.680744">doi:10.1101/2025.10.06.680744</a>
  </li>
</ul>

## Colaborações

::: {.lead}
As 48 publicações acima reúnem <strong>347 pesquisadores externos ao laboratório</strong>, de instituições do Brasil e do exterior. A lista abaixo traz os nomes desses colaboradores.
:::

<ul class="collab-list">
  <li>Sandra R. Abbo</li>
  <li>Maha Abdeladhim</li>
  <li>Vinicius Carvalho de Abreu</li>
  <li>Jenica Abrudan</li>
  <li>Flávia Figueira Aburjaile</li>
  <li>Mariana Aganetti</li>
  <li>Irina V. Agarkova</li>
  <li>George Rêgo Albuquerque</li>
  <li>Neuza Maria Alcântara‐Neves</li>
  <li>Paula Almeida</li>
  <li>Iassudara Garcia de Almeida</li>
  <li>Viviani Mendes de Almeida</li>
  <li>João Paulo P. de Almeida</li>
  <li>Marisa Almuzara</li>
  <li>Daniele Almeida Alves</li>
  <li>Siad C. G. Amadou</li>
  <li>Daniel Oliveira Jordão do Amaral</li>
  <li>Geiseane Veloso Amaral</li>
  <li>Paulo Eduardo Ambrósio</li>
  <li>Deyvid Amgarten</li>
  <li>Jaime Henrique Amorim</li>
  <li>Elisa Gonçalves de Andrade</li>
  <li>Edson Mário de Andrade</li>
  <li>Lara Andrade</li>
  <li>Leiliane Coelho André</li>
  <li>Patrícia da Silva Antunes</li>
  <li>Alejandra Saori Araki</li>
  <li>Max Roberto Batista Araújo</li>
  <li>Ricardo N. Araújo</li>
  <li>Peter Arensburger</li>
  <li>Enrique Arévalo‐Gardini</li>
  <li>Juliana N. Armache</li>
  <li>Mirna d’ Auriol</li>
  <li>Vivian Iida Avelino‐Silva</li>
  <li>Vasco Azevedo</li>
  <li>Antinéa Babarit</li>
  <li>Paulo Victor Pereira Baio</li>
  <li>Carlijn Balvers</li>
  <li>Claudia Barberis</li>
  <li>Maurício L. Barreto</li>
  <li>Emília Maria Medeiros de Andrade Belitardo</li>
  <li>Joshua B. Benoit</li>
  <li>Cássio van den Berg</li>
  <li>Alexander Birbrair</li>
  <li>Daniel Borely</li>
  <li>Magno Augusto Zazá Borges</li>
  <li>Bruna Barbosa Botelho</li>
  <li>Sinval Pinto Brandão-Filho</li>
  <li>Reginaldo Peçanha Brazil</li>
  <li>Ruth Dálety da Silva Brito</li>
  <li>Peter Briza</li>
  <li>Rafaela Vieira Bruno</li>
  <li>Andreas Burkovski</li>
  <li>Barbara A. Burleigh</li>
  <li>Gabriela Barreto Caldas-Garcia</li>
  <li>Jorge Calvo</li>
  <li>Marcelo Fernandes Camargos</li>
  <li>Soraya Cecília Albieri Camillo</li>
  <li>Luciana Camillo</li>
  <li>Luciene Cristina Gastalho Campos</li>
  <li>Artur Filipe Cancio</li>
  <li>Fernanda Gomes Cardoso</li>
  <li>Roger M. Carlson</li>
  <li>Rodrigo Lucas Ferreira do Carmo</li>
  <li>Victor Corasolla Carregari</li>
  <li>João Victor R. P. Carvalho</li>
  <li>Toniana G. Carvalho</li>
  <li>Filipe Aníbal Carvalho‐Costa</li>
  <li>Geovanni Dantas Cassali</li>
  <li>Mucio Leao Pessoa Castro</li>
  <li>Giovanni Marques de Castro</li>
  <li>Jason Charamis</li>
  <li>Rodrigo Cogni</li>
  <li>Ronan Xavier Corrêa</li>
  <li>Marco Antônio Costa</li>
  <li>Eduardo Almeida Costa</li>
  <li>Márcio Gilberto Cardoso Costa</li>
  <li>Samara Costa</li>
  <li>Vivian Vasconcelos Costa</li>
  <li>Iliano V. Coutinho-Abreu</li>
  <li>Álvaro A. Cruz</li>
  <li>João V. O. Cruz</li>
  <li>Clênio Silva Cruz</li>
  <li>Ana Luiza Campos Cruz</li>
  <li>Alistair C. Darby</li>
  <li>Mawlouth Diallo</li>
  <li>Viv M. Dillon</li>
  <li>Rod J. Dillon</li>
  <li>Christian Steffe Domingues</li>
  <li>Betânia Paiva Drumond</li>
  <li>David D. Dunigan</li>
  <li>Ricardo Durães-Carvalho</li>
  <li>Scott Emrich</li>
  <li>Daiane F. Engel</li>
  <li>Roy Bogardid Ardón Espinal</li>
  <li>Carlos F. Estevez-Castro</li>
  <li>James L. Van Etten</li>
  <li>Isaque João da Silva de Faria</li>
  <li>Keilane Silva Farias</li>
  <li>Hllytchaikra Ferraz Fehlberg</li>
  <li>Gabriel da Rocha Fernandes</li>
  <li>Valéria Ferreira Fernandes</li>
  <li>Daniela Fernandez-Medina</li>
  <li>Fátima Ferreira</li>
  <li>Fabrício Barbosa Ferreira</li>
  <li>Flávia V. Ferreira</li>
  <li>Monaliza Macêdo Ferreira</li>
  <li>Álvaro Ferreira</li>
  <li>Camila Alexandrina Figueiredo</li>
  <li>Catherine M. Flanley</li>
  <li>Brenno Santos Florêncio</li>
  <li>Mayanna Moreira Costa Fogaça</li>
  <li>Renato Fontana</li>
  <li>Talita de Lima Freitas</li>
  <li>Juliana Freitas‐Astúa</li>
  <li>Jelke J. Fros</li>
  <li>Sandra Rocha Gadelha</li>
  <li>Izabela Galvão</li>
  <li>Cristiana Couto Garcia</li>
  <li>Enrique Arévalo Gardini</li>
  <li>Derek Gatherer</li>
  <li>Rajarshi Kumar Gaur</li>
  <li>Alioune Gaye</li>
  <li>Fernando Ariel Genta</li>
  <li>Sandra Gesing</li>
  <li>João Silveira Moledo Gesto</li>
  <li>Gloria I. Giraldo-Calderón</li>
  <li>Aristóteles Goés‐Neto</li>
  <li>Fábio Pinto Gomes</li>
  <li>Bruno Gomes</li>
  <li>Nelder F. Gontijo</li>
  <li>Karina Peres Gramacho</li>
  <li>Jet S. Griep</li>
  <li>Eduardo Gross</li>
  <li>Omar Hamarsheh</li>
  <li>James G. Hamilton</li>
  <li>Philip M. Hansbro</li>
  <li>Mallory Hawksworth</li>
  <li>Neander Marcel Heming</li>
  <li>Jacob M. Hendershot</li>
  <li>Lethícia Ribeiro Henriques</li>
  <li>Paul V. Hickner</li>
  <li>Jean‐Luc Imler</li>
  <li>Panagiotis Ioannidis</li>
  <li>Isis Caroline de Amorim Jambeiro</li>
  <li>Emily C. Jennings</li>
  <li>Asger Roland Jensen</li>
  <li>Hendor Neves Ribeiro de Jesus</li>
  <li>Anselmo Vasconcelos Rivetti Júnior</li>
  <li>Antônio Augusto Fonseca Júnior</li>
  <li>Shaden Kamhawi</li>
  <li>Charikleia Karageorgiou</li>
  <li>Ryan Kennedy</li>
  <li>Constantianus J. M. Koenraadt</li>
  <li>Erna Geessien Kroon</li>
  <li>Andreas Krueger</li>
  <li>Frédéric Labbé</li>
  <li>Larisse S. B. Lacerda</li>
  <li>Diana Carolina Villan Larios</li>
  <li>José Manuel Latorre-Estivalis</li>
  <li>Caio A. Leal-Dutra</li>
  <li>Cassiana da Costa Ferreira Leite</li>
  <li>Liliam de Lima Lemos</li>
  <li>Petros Ligoxygakis</li>
  <li>Charlotte Linthout</li>
  <li>Ayrton Breno P. Lisboa</li>
  <li>Gabriela Nicolle Ramos Lizardo</li>
  <li>Leandro Lopes Loguercio</li>
  <li>Bruna Coelho Lopes</li>
  <li>Ícaro  Santos Lopes</li>
  <li>Wilson Barros Luiz</li>
  <li>Elayne Cristina Machado</li>
  <li>João Magalhães</li>
  <li>Fernanda de Mello Malta</li>
  <li>Joise Mares</li>
  <li>Ana Paula Melo Mariano</li>
  <li>Lauro Juliano Marin</li>
  <li>Éric Marois</li>
  <li>Cíntia Rodrigues Marques</li>
  <li>João Paulo Rodrigues Marques</li>
  <li>João T. Marques</li>
  <li>Rafael Elias Marques</li>
  <li>Flaviano S. Martins</li>
  <li>Daniel Martins‐de‐Souza</li>
  <li>Ana Luíza Mattos‐Guaraldi</li>
  <li>Mary Ann McDowell</li>
  <li>Antonio C.A. Meireles-Filho</li>
  <li>Juliana Mendonça</li>
  <li>Patrick Minx</li>
  <li>José Carlos Miranda</li>
  <li>Michael J. Montague</li>
  <li>Gabriel Pereira Monteiro</li>
  <li>Lucas Oliveira Montesino</li>
  <li>Irma Yuliana Mora-Ocampo</li>
  <li>Caroline da Silva Moraes</li>
  <li>Renato N. Mota</li>
  <li>Cesar Rossas Mota-Filho</li>
  <li>Jonathan Javier Mucherino Muñoz</li>
  <li>Bruno Murad</li>
  <li>Katiúcia Tícila de Souza de Nascimento</li>
  <li>Renata S. Nascimento</li>
  <li>Jesús Navas</li>
  <li>Maurício Lacerda Nogueira</li>
  <li>Diogo Pereira Silva de Novais</li>
  <li>Ronald J. Nowling</li>
  <li>Rezende Dde O</li>
  <li>Judicaël Obame‐Nkoghe</li>
  <li>Yuliana Mora Ocampo</li>
  <li>Wanderson Kleber Oliveira</li>
  <li>Giovanna Venas Oliveira</li>
  <li>Larissa Karen Silva Oliveira</li>
  <li>A. R. Oliveira</li>
  <li>Cairo Henrique Sousa de Oliveira</li>
  <li>Fabiano Oliveira</li>
  <li>Karla Pollyanna Vieira de Oliveira</li>
  <li>Roenick Proveti Olmo</li>
  <li>João Ramalho Ortigão‐Farias</li>
  <li>Juliana Nabuco Pereira Otaka</li>
  <li>Luis Gustavo Carvalho Pacheco</li>
  <li>Maisa Carla Pereira Parra</li>
  <li>Christophe Paupy</li>
  <li>Márcio G. Pavan</li>
  <li>Renata Stavracakis Peixoto</li>
  <li>Pedro Fernandez Del Peloso</li>
  <li>Marcos H. Pereira</li>
  <li>Felipe Arley Costa Pessoa</li>
  <li>Gorben P. Pijlman</li>
  <li>Jordane Clarisse Pimenta</li>
  <li>Carina S. Pinheiro</li>
  <li>Carla Amaral Pinto</li>
  <li>Gleice R. R. Pires</li>
  <li>Carlos Priminho Pirovani</li>
  <li>André Nóbrega Pitaluga</li>
  <li>Karoline Almeida Piton</li>
  <li>Mariliza T. Prieto</li>
  <li>Lúcio Queiroz</li>
  <li>Marcelo Ramalho-Ortigão</li>
  <li>Juliana Nunes Ramos</li>
  <li>Rommel Thiago Jucá Ramos</li>
  <li>Pedro Luis Ramos‐González</li>
  <li>Asta Rødsgaard-Jørgensen</li>
  <li>Mario Recker</li>
  <li>Dilmara Reischak</li>
  <li>Brayan Maudiel Diaz Reyes</li>
  <li>Rachel Passos Rezende</li>
  <li>José M. C. Ribeiro</li>
  <li>Fabíola M. Ribeiro</li>
  <li>Mayra Fernanda Ricci</li>
  <li>Stephen Richards</li>
  <li>Paula Ristow</li>
  <li>Gustavo Bueno da Silva Rivas</li>
  <li>Danilo J. P. G. Rocha</li>
  <li>Victor Rocha</li>
  <li>Rodrigo Araújo Lima Rodrigues</li>
  <li>Murillo F. Rodrigues</li>
  <li>Jorge Rodríguez-Grande</li>
  <li>Jesús Rodríguez‐Lozano</li>
  <li>Erika da Silva Rosa</li>
  <li>Andrew J. Rosendale</li>
  <li>Felipe Gazetta Sacoda</li>
  <li>Rafael Simone Saia</li>
  <li>Oscar Daniel Salomón</li>
  <li>Vartul Sangal</li>
  <li>Maurı́cio Roberto Viana Sant&#x27;Anna</li>
  <li>Weyder Cristiano Santana</li>
  <li>Juliano Oliveira Santana</li>
  <li>Lincoln de Oliveira Sant’Anna</li>
  <li>Ariana Silva Santos</li>
  <li>José Miguel Ferreira dos Santos</li>
  <li>Adailson Feitoza de Jesus Santos</li>
  <li>Rogério Mercês Ferreira Santos</li>
  <li>Elmo José dos Santos</li>
  <li>Amanda da Rocha Santos</li>
  <li>Taís Araújo Santos</li>
  <li>Mírian S. Santos</li>
  <li>Vinícius Castro Santos</li>
  <li>Pérola Rodrigues dos Santos</li>
  <li>Uener Ribeiro dos Santos</li>
  <li>Louisy Sanches dos Santos</li>
  <li>Steven E. Scherer</li>
  <li>Nágila Francinete Costa Secundino</li>
  <li>Luigi Sedda</li>
  <li>Flávia de Araújo Sena</li>
  <li>Núbia Seyffert</li>
  <li>Jonathan Z. Shik</li>
  <li>Douglas A. Shoue</li>
  <li>Naiara Soares da Silva</li>
  <li>Bruna Santos Souza da Silva</li>
  <li>Tarcísio Macedo Silva</li>
  <li>Eduardo Santos da Silva</li>
  <li>Thiago Magalhães da Silva</li>
  <li>J D Silva</li>
  <li>Iris Silva</li>
  <li>Murillo Ferreira da Silva</li>
  <li>Mylene de Melo Silva</li>
  <li>Ana Luiza Savioli da Silva</li>
  <li>Carolina S. Silva</li>
  <li>Ana Teresa Saraiva Silva</li>
  <li>Bruno M. Silva</li>
  <li>Raner José Santana Silva</li>
  <li>Bradley J. Smith</li>
  <li>Dalliane Oliveira Soares</li>
  <li>George Andrade Sodré</li>
  <li>Anderson Gonçalves Sousa</li>
  <li>Aurizângela Oliveira de Sousa</li>
  <li>Milena Silva Souza</li>
  <li>Comlan de Souza</li>
  <li>José Lucinaldo Ferreira de Souza</li>
  <li>Nataly A. Souza</li>
  <li>Kátia Paulino Ribeiro de Souza</li>
  <li>Cassius de Souza</li>
  <li>Carlos Ernesto Ferreira Starling</li>
  <li>Zainulabueddin Syed</li>
  <li>Samuel Tadros</li>
  <li>Cheong Huat Tan</li>
  <li>Aline D. Tassi</li>
  <li>Mauro Martins Teixeira</li>
  <li>Rayane Teles-de-Freitas</li>
  <li>Erich Loza Telleria</li>
  <li>Antônio Tempone</li>
  <li>Yaovi M. H. Todjro</li>
  <li>Chad Tomlinson</li>
  <li>Yara Maria Traub-Csekö</li>
  <li>Zhijian Tu</li>
  <li>Ana Paula Trovatti Uetanabaro</li>
  <li>Maria Unger</li>
  <li>Jesús G. Valenzuela</li>
  <li>Larissa Amorim Tourinho de Vasconcelos</li>
  <li>Carlos Vay</li>
  <li>Aline Bruna Martins Vaz</li>
  <li>Paloma Oliveira Vidal</li>
  <li>Verônica Viana Vieira</li>
  <li>Angélica T. Vieira</li>
  <li>Felipe M. Vigoder</li>
  <li>Ana Paula Pessoa Vilela</li>
  <li>Tessa M. Visser</li>
  <li>Petr Volf</li>
  <li>John Vontas</li>
  <li>Lihui Wang</li>
  <li>Wesley C. Warren</li>
  <li>Robert M. Waterhouse</li>
  <li>Gareth D. Weedall</li>
  <li>Merril Wongsokarijo</li>
  <li>Monique de Souza Zezza-Ramalho</li>
  <li>Elyes Zhioua</li>
  <li>Giuliana S. Zuccoli</li>
  <li>Maria Zugaib</li>
</ul>
